In [1]:
import pandas as pd
import datetime as dt
import os
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [2]:
cc = pd.read_csv('country_codes.csv', index_col=0)
customers = pd.read_csv('customers.csv', index_col=0)
prod_info = pd.read_csv('prod_cat_info.csv')

In [3]:
cc

    country
1    Poland
2   Germany
3    France
4     Spain
5     Italy
6    Norway
7    Sweden
8   Denmark
9   Belgium
10  Finland

In [4]:
customers

      customer_Id         DOB Gender  country_code
0          268408  02-01-1970      M           4.0
1          269696  07-01-1970      F           8.0
2          268159  08-01-1970      F           8.0
3          270181  10-01-1970      F           2.0
4          268073  11-01-1970      M           1.0
...           ...         ...    ...           ...
5642       274474  19-12-1992      M           2.0
5643       267666  24-12-1992      M           6.0
5644       270476  25-12-1992      F           3.0
5645       269626  27-12-1992      F           5.0
5646       274308  29-12-1992      F           5.0

[5647 rows x 4 columns]

In [5]:
prod_info

    prod_cat_code          prod_cat  prod_sub_cat_code          prod_subcat
0               1          Clothing                  4                 Mens
1               1          Clothing                  1                Women
2               1          Clothing                  3                 Kids
3               2          Footwear                  1                 Mens
4               2          Footwear                  3                Women
5               2          Footwear                  4                 Kids
6               3       Electronics                  4              Mobiles
7               3       Electronics                  5            Computers
8               3       Electronics                  8  Personal Appliances
9               3       Electronics                  9              Cameras
10              3       Electronics                 10      Audio and video
11              4              Bags                  1                 Mens
12              4              Bags                  4                Women
13              5             Books                  7              Fiction
14              5             Books                 12             Academic
15              5             Books                 10          Non-Fiction
16              5             Books                 11             Children
17              5             Books                  3               Comics
18              5             Books                  6                  DIY
19              6  Home and kitchen                  2           Furnishing
20              6  Home and kitchen                 10              Kitchen
21              6  Home and kitchen                 11                 Bath
22              6  Home and kitchen                 12                Tools

In [6]:
transactions = pd.DataFrame()
transactions2016 = pd.read_csv('transactions-2016.csv')
transactions2017 = pd.read_csv('transactions-2017.csv')
transactions2018 = pd.read_csv('transactions-2018.csv')
transactions2019 = pd.read_csv('transactions-2019.csv')
transactions_list = [transactions2016, transactions2017, transactions2018, transactions2019]
        
for transaction in transactions_list:
    transactions = transactions.append(transaction)

In [7]:
transactions

,Unnamed: 0,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type
0,16062,40303022895,272142,31-12-2016,1,2,5,537,281.925,2966.925,Flagship store
1,16063,47557596721,273764,31-12-2016,8,3,-1,-1037,108.885,-1145.885,Flagship store
2,16064,28966519600,273899,31-12-2016,5,3,1,308,32.340,340.340,e-Shop
3,16065,18110335043,270491,31-12-2016,4,2,1,1343,141.015,1484.015,TeleShop
4,16066,35866122984,269792,31-12-2016,1,2,1,1209,126.945,1335.945,Flagship store
...,...,...,...,...,...,...,...,...,...,...,...
1060,1060,69378805450,273472,1/1/2019,1,2,1,1242,130.410,1372.410,e-Shop
1061,1061,63635040022,268886,1/1/2019,3,2,5,652,342.300,3602.300,e-Shop
1062,1062,71241456072,268863,1/1/2019,3,5,2,462,97.020,1021.020,Flagship store
1063,1063,69368153122,273627,1/1/2019,7,5,3,311,97.965,1030.965,TeleShop
1064,1064,96680280518,267832,1/1/2019,1,4,5,1462,767.550,8077.550,e-Shop

In [8]:
def convert_dates(x):
            try:
                return dt.datetime.strptime(x, '%d-%m-%Y' )
            except:
                return dt.datetime.strptime(x, '%d/%m/%Y')

transactions['tran_date'] = transactions['tran_date'].apply(lambda x: convert_dates(x))

In [9]:
transactions

,Unnamed: 0,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type
0,16062,40303022895,272142,2016-12-31,1,2,5,537,281.925,2966.925,Flagship store
1,16063,47557596721,273764,2016-12-31,8,3,-1,-1037,108.885,-1145.885,Flagship store
2,16064,28966519600,273899,2016-12-31,5,3,1,308,32.340,340.340,e-Shop
3,16065,18110335043,270491,2016-12-31,4,2,1,1343,141.015,1484.015,TeleShop
4,16066,35866122984,269792,2016-12-31,1,2,1,1209,126.945,1335.945,Flagship store
...,...,...,...,...,...,...,...,...,...,...,...
1060,1060,69378805450,273472,2019-01-01,1,2,1,1242,130.410,1372.410,e-Shop
1061,1061,63635040022,268886,2019-01-01,3,2,5,652,342.300,3602.300,e-Shop
1062,1062,71241456072,268863,2019-01-01,3,5,2,462,97.020,1021.020,Flagship store
1063,1063,69368153122,273627,2019-01-01,7,5,3,311,97.965,1030.965,TeleShop
1064,1064,96680280518,267832,2019-01-01,1,4,5,1462,767.550,8077.550,e-Shop

In [10]:
df = transactions.join(prod_info.drop_duplicates(subset=['prod_cat_code']).set_index('prod_cat_code')['prod_cat'],on='prod_cat_code',how='left')

df = df.join(prod_info.drop_duplicates(subset=['prod_sub_cat_code']).set_index('prod_sub_cat_code')['prod_subcat'],on='prod_subcat_code',how='left')

df = df.join(customers.join(cc,on='country_code').set_index('customer_Id'),on='cust_id')

In [11]:
df

,Unnamed: 0,transaction_id,cust_id,tran_date,prod_subcat_code,prod_cat_code,Qty,Rate,Tax,total_amt,Store_type,prod_cat,prod_subcat,DOB,Gender,country_code,country
0,16062,40303022895,272142,2016-12-31,1,2,5,537,281.925,2966.925,Flagship store,Footwear,Women,13-10-1988,M,8.0,Denmark
1,16063,47557596721,273764,2016-12-31,8,3,-1,-1037,108.885,-1145.885,Flagship store,Electronics,Personal Appliances,13-03-1982,M,8.0,Denmark
2,16064,28966519600,273899,2016-12-31,5,3,1,308,32.340,340.340,e-Shop,Electronics,Computers,07-10-1992,F,5.0,Italy
3,16065,18110335043,270491,2016-12-31,4,2,1,1343,141.015,1484.015,TeleShop,Footwear,Mens,01-02-1988,M,5.0,Italy
4,16066,35866122984,269792,2016-12-31,1,2,1,1209,126.945,1335.945,Flagship store,Footwear,Women,24-11-1979,F,10.0,Finland
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,1060,69378805450,273472,2019-01-01,1,2,1,1242,130.410,1372.410,e-Shop,Footwear,Women,08-03-1983,M,4.0,Spain
1061,1061,63635040022,268886,2019-01-01,3,2,5,652,342.300,3602.300,e-Shop,Footwear,Kids,03-08-1992,M,1.0,Poland
1062,1062,71241456072,268863,2019-01-01,3,5,2,462,97.020,1021.020,Flagship store,Books,Kids,08-11-1981,F,3.0,France
1063,1063,69368153122,273627,2019-01-01,7,5,3,311,97.965,1030.965,TeleShop,Books,Fiction,18-06-1985,M,8.0,Denmark
1064,1064,96680280518,267832,2019-01-01,1,4,5,1462,767.550,8077.550,e-Shop,Bags,Women,04-10-1979,M,9.0,Belgium

In [12]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']

app = dash.Dash(__name__, external_stylesheets=external_stylesheets)

In [24]:
app.layout = html.Div([html.Div([dcc.Tabs(id='tabs',value='tab-1',children=[
                            dcc.Tab(label='SprzedaÅ¼ globalna',value='tab-1'),
                            dcc.Tab(label='Produkty',value='tab-2')
                            ]),
                            html.Div(id='tabs-content')
                    ],style={'width':'80%','margin':'auto'})],
                    style={'height':'100%'})

In [14]:
def render_tab1(df):

    layout = html.Div([html.H1('SprzedaÅ¼ globalna',style={'text-align':'center'}),
                        html.Div([dcc.DatePickerRange(id='sales-range',
                        start_date=df['tran_date'].min(),
                        end_date=df['tran_date'].max(),
                        display_format='YYYY-MM-DD')],style={'width':'100%','text-align':'center'}),
                        html.Div([html.Div([dcc.Graph(id='bar-sales')],style={'width':'50%'}),
                        html.Div([dcc.Graph(id='choropleth-sales')],style={'width':'50%'})],style={'display':'flex'})
                        ])

    return layout

In [15]:
def render_tab2(df):

    grouped = df[df['total_amt']>0].groupby('prod_cat')['total_amt'].sum()
    fig = go.Figure(data=[go.Pie(labels=grouped.index,values=grouped.values)],layout=go.Layout(title='UdziaÅ‚ grup produktÃ³w w sprzedaÅ¼y'))

    layout = html.Div([html.H1('Produkty',style={'text-align':'center'}),

                        html.Div([html.Div([dcc.Graph(id='pie-prod-cat',figure=fig)],style={'width':'50%'}),
                        html.Div([dcc.Dropdown(id='prod_dropdown',
                                    options=[{'label':prod_cat,'value':prod_cat} for prod_cat in df['prod_cat'].unique()],
                                    value=df['prod_cat'].unique()[0]),
                                    dcc.Graph(id='barh-prod-subcat')],style={'width':'50%'})],style={'display':'flex'}),
                                    html.Div(id='temp-out')
                        ])

    return layout

In [16]:
@app.callback(Output('tabs-content', 'children'), [Input('tabs', 'value')])
def render_content(tab):

    if tab == 'tab-1':
        return render_tab1(df)
    elif tab == 'tab-2':
        return render_tab2(df)

In [17]:
@app.callback(Output('bar-sales','figure'), [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_bar_sales(start_date,end_date):

    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby([pd.Grouper(key='tran_date',freq='M'),'Store_type'])['total_amt'].sum().round(2).unstack()

    traces = []
    for col in grouped.columns:
        traces.append(go.Bar(x=grouped.index,y=grouped[col],name=col,hoverinfo='text',
        hovertext=[f'{y/1e3:.2f}k' for y in grouped[col].values]))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(title='Przychody',barmode='stack',legend=dict(x=0,y=-0.5)))

    return fig

In [18]:
@app.callback(Output('choropleth-sales','figure'),
            [Input('sales-range','start_date'),Input('sales-range','end_date')])
def tab1_choropleth_sales(start_date,end_date):

    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
    grouped = truncated[truncated['total_amt']>0].groupby('country')['total_amt'].sum().round(2)

    trace0 = go.Choropleth(colorscale='Viridis',reversescale=True,
                            locations=grouped.index,locationmode='country names',
                            z = grouped.values, colorbar=dict(title='Sales'))
    data = [trace0]
    fig = go.Figure(data=data,layout=go.Layout(title='Mapa',geo=dict(showframe=False,projection={'type':'natural earth'})))

    return fig

In [19]:
@app.callback(Output('barh-prod-subcat','figure'),
            [Input('prod_dropdown','value')])
def tab2_barh_prod_subcat(chosen_cat):

    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)

    traces = []
    for col in ['F','M']:
        traces.append(go.Bar(x=grouped[col],y=grouped.index,orientation='h',name=col))

    data = traces
    fig = go.Figure(data=data,layout=go.Layout(barmode='stack',margin={'t':20,}))
    return fig

In [ ]:
if __name__ =='__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__' (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [30/Jan/2022 18:04:05] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "GET /_dash-component-suites/dash/dcc/async-datepicker.js HTTP/1.1" 304 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [30/Jan/2022 18:04:06] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:06] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:06] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:12] "POST /_dash-update-component HTTP/1.1

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:12] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:13] "

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:13] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:27] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [30/Jan/2022 18:04:27] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:27] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:29] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:29] "POST /_dash-update-component HTTP/1.1

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:29] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:30] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:30] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:34] "POST /_dash-update-component HTTP/1.1" 500 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:39] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:52] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:52] "

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:52] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:04:54] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:04:55] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:06:21] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-18-871291bdb4d1>", line 5, in tab1_choropleth_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:06:21] "

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-17-32f3482ef01b>", line 4, in tab1_bar_sales
    truncated = df.merged[(df.merged['tran_date']>=start_date)&(df.merged['tran_date']<=end_date)]
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:06:21] "POST /_dash-update-component HTTP/1.1" 500 -
127.0.0.1 - - [30/Jan/2022 18:06:22] "POST /_dash-update-component HTTP/1.1" 200 -

Exception on /_dash-update-component [POST]
Traceback (most recent call last):
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 2051, in wsgi_app
    response = self.full_dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1501, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1499, in full_dispatch_request
    rv = self.dispatch_request()
  File "/home/agnieszka/.local/lib/python3.8/site-packages/flask/app.py", line 1485, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**req.view_args)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/dash.py", line 1336, in dispatch
    response.set_data(func(*args, outputs_list=outputs_list))
  File "/home/agnieszka/.local/lib/python3.8/site-packages/dash/_callback.py", line 151, in add_context
    output_value = func(*func_args, **func_kwargs)  # %% callback invoked %%
  File "<ipython-input-19-94082c1f9026>", line 5, in tab2_barh_prod_subcat
    grouped = df.merged[(df.merged['total_amt']>0)&(df.merged['prod_cat']==chosen_cat)].pivot_table(index='prod_subcat',columns='Gender',values='total_amt',aggfunc='sum').assign(_sum=lambda x: x['F']+x['M']).sort_values(by='_sum').round(2)
  File "/home/agnieszka/.local/lib/python3.8/site-packages/pandas/core/generic.py", line 5487, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'DataFrame' object has no attribute 'merged'

127.0.0.1 - - [30/Jan/2022 18:06:22] "POST /_dash-update-component HTTP/1.1" 500 -