In [7]:
import pandas as pd
data = pd.read_html('https://pl.wikipedia.org/wiki/Miasta_w_Polsce')

In [8]:
type(data)

list

In [9]:
data[0]

,Lp.,Miasto,Województwo,Liczbamieszkańców,Gęstość zaludnienia [osoby/km²]
0,1.0,Warszawa,mazowieckie,1 793 579,3437
1,2.0,Kraków,małopolskie,780 981,2359
2,3.0,Łódź,łódzkie,677 286,2337
3,4.0,Wrocław,dolnośląskie,643 782,2188
4,5.0,Poznań,wielkopolskie,533 830,2048
5,6.0,Gdańsk,pomorskie,471 525,1781
6,7.0,Szczecin,zachodniopomorskie,400 990,1339
7,8.0,Bydgoszcz,kujawsko-pomorskie,346 739,1990
8,9.0,Lublin,lubelskie,339 547,2303
9,10.0,Białystok,podlaskie,297 585,2913

In [10]:
data[1]

    Lp.            Miasto         Województwo Powierzchnia [ha]
0   1.0          Warszawa         mazowieckie            51 724
1   2.0            Kraków         małopolskie            32 685
2   3.0          Szczecin  zachodniopomorskie            30 060
3   4.0              Łódź             łódzkie            29 325
4   5.0           Wrocław        dolnośląskie            29 282
5   6.0      Zielona Góra            lubuskie            27 832
6   7.0            Gdańsk           pomorskie            26 196
7   8.0            Poznań       wielkopolskie            26 191
8   9.0       Świnoujście  zachodniopomorskie            20 207
9  10.0  Dąbrowa Górnicza             śląskie            18 873